<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>Users</title>
</head>
<body>
<h1>Список пользователей:</h1>
<table border="2">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>login</th>
        <th>password</th>
        <th>role</th>
        <th>action</th>
    </tr>
        <tr th:each="user : ${listUsers}">
            <td><span th:text="${user.getId()}"></span></td>
            <td><span th:text="${user.getName()}"></span></td>
            <td><span th:text="${user.getAge()}"></span></td>
            <td><span th:text="${user.getLogin()}"></span></td>
            <td><span th:text="${user.getPassword()}"></span></td>
            <td><span th:text="${user.getRole()}"></span></td>
            <td>
                <a th:href="@{/edit(id=${user.getId()})}">EDIT</a>/
                <a th:href="@{/delete(id=${user.getId()})}">DELETE</a>
            </td>
        </tr>
</table>
<a href="/add">Add User</a>
</br>
<a href="/logout">Exit</a>
</body>
</html>